.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
    /* auto fit means flexible items i.e not fixed width 1fr=25% of screen i.e 4 items in 1 row=100% */
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.feed .card img{
    width: 100%;
    border-radius: 5px;
}
.feed .card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}
.feed .card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}
.feed .card p{
    font-size: 14px;
}